image: "fedora:latest"

stages:
  - build
  - test

build_hatter:
  stage: build
  before_script:
    - dnf install spdlog libasan -y -q # libs
    - dnf install ninja-build cmake gcc-c++ clang -y -q # build tools
    - dnf install cppcheck gtest-devel gtest valgrind -y -q # other tools
    - pip3 install cpplint -q # pip tools
  script:
    - ls -l # probably run unit test here
    - pwd
