image: "fedora:latest"

stages:
  - build
  - test
  - deploy

build_hatter:
  stage: build
  # before_script:
    # - dnf install spdlog libasan libubsan -y -q # libs
    # - dnf install ninja-build git cmake gcc-c++ clang -y -q # build tools
    # - dnf install cppcheck gtest-devel gtest valgrind -y -q # other tools
    # - pip3 install cpplint -q # pip tools
    # - dnf install curl jq ripgrep dnf-plugins-core -y -q # run time tool
  script:
    - mkdir -p /build_temp
    - touch /build_temp/package_list.txt
    - touch /build_temp/group_list.txt
    # - sh src/cli/build.sh
  artifacts:
    paths:
      # - src/cli/build/bin/tomlparser
      - src/cli/profile.sh

deploy_hatter:
  stage: deploy
  before_script:
    - sudo dnf install golang npm -y -q
    # - go get -u github.com/tcnksm/ghr
  script:
    - npx semantic-release
    - recent_tag=$(git describe)
    - echo ${recent_tag}
    - ls -l
    # - ghr ${recent_tag} src/cli/build.sh